.btn {
  font-size: 20px;
  background-color: #fff;
  border-radius: 20rem;
  padding: 1.25rem 3.5rem;
  outline: 0;
  margin-top: .5rem;
  margin-right: 1.5rem;
  border-color: transparent;
  text-decoration: none;
  display: inline-flex;
  color: #000;

  i {
    padding-right: 1.5rem;
  }
}